*.obj
*.[Ll][Ii][Bb]
*.err
*.swp
.project
.cproject
project.ilk
project.lnk
project.map
project.sym
project.exe
wcc386.pch
*.vcproj.*
*.ncb
*.suo
BuildLog.htm
mt.dep
*.manifest
*.pch
*.idb
*.pdb
*.cod
*.bat
*.exe
*.xml
*.bat
/.vs
/Debug
/Release
/*.filters
/*.user
/EECH.srctrlbm
/EECH.srctrldb
/EECH.srctrlprj
/compile_commands.json
